<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="container">
    <h1></h1>
    <a href="/newpost" class="btn btn-primary">Отправить сообщение в бот</a>
    <div th:if="${userCount}">
        <p class="success-message" th:text="'Количество уникальных пользователей: ' + ${userCount}"></p>
    </div>
</div>
</body>
</html>
